#container {
  padding: 0;
   overflow: auto;
   width: 1270px;
   margin: 0 auto
 }
 #cards-list {
   display: flex;
   text-align: center;
   width: 2100px;
   margin: 0 auto;
   margin-top: 75px;
 }
 .card {
   flex: 33%;
   border: solid 2px black;
 }
 #header {
  position: absolute;
  bottom: 430px;
 }
 img {
   width: 80%;
 }
 i {
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 10px;
 }
 .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    padding: 15px;
    right: -130px;
    bottom: 270px;
 }
 .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    padding: 15px;
    left: 0;
    bottom: 272px;
 }
