#amitay {
  position: relative;
    top: 30px;
}
#container {
  padding: 0;
  overflow: hidden;
  width: 1240px;
  margin: 0 auto;
 }
 #cards-list {
   display: flex;
   width: 2082px;
   margin-top: 75px;
 }
 .card {
   flex: 33%;
 }
 .card-content {
  text-align: center;
 }
  #header {
  position: absolute;
  bottom: 360px;
 }
 h3 {
  color: #386eaf
  }
 .card:hover .card-content > h3 {     
  color: #1cb5fc
}
 img {
   width: 90%;
 }
 .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  padding: 15px;
  right: -60px;
  bottom: 227px;
  border: solid #25c5df;
  border-width: 0 6px 6px 0;
 }
 .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  bottom: 230px;
  left: -35px;
  padding: 15px;
  border: solid #25c5df;
  border-width: 0 6px 6px 0;
 }
 .right:hover {
  padding: 18px;
   box-shadow: 5px 5px 5px grey;
}
.left:hover {
  padding: 18px;
  box-shadow: 5px 5px 5px grey;
}
